<div>
<form name="contact" action='{{ "/contact/thanks" | relLangURL }}' method="POST" netlify-honeypot="bots" data-netlify="true">
  <div class="contact__form">
    <h2>{{ i18n "email" }} <i class="far fa-envelope"></i></h2>
    {{ $name := i18n "contactName" }}
    <fieldset>  
      <label for="name" class="screen-reader">{{ $name }}</label>
      <input name="name" type="text" id="name" placeholder="{{ $name }}...">
    </fieldset>
    {{ $email := i18n "contactEmail" }}
    <fieldset>
      <label for="email" class="screen-reader">{{ $email }}</label>
      <input name="email" type="email" id="email" placeholder="{{ $email }}...">
    </fieldset>
    <!-- Honeypot field to reduce spam -->
    <fieldset style="display:none;">
      <label>Don’t fill this out if you're human: <input name="bots" /></label>
    </fieldset>
    {{ $msg := i18n "contactMessage" }}
    <fieldset>
      <label for="message" class="screen-reader">{{ $msg }}</label>
      <textarea name="message" placeholder="{{ $msg }}..." rows="8" cols="80" id="message"></textarea>
    </fieldset>
    <button type="submit" class="btn">{{ i18n "submit"}}</button>
  </div>
</form>

  <div class="alert" id="alert">
    <span id="alert__content"></span>
		<button class="close" onclick="document.querySelector('#alert').style.display = 'none'">X</button>
  </div>
  
</div>
