<div class="event__menu">
  <h2>Menu</h2>
  <ul>
    <li class="event__item--all"><a href='{{ "/events/" | relLangURL }}'>{{ i18n "eventTypeAll" }}</a></li>
    <li class="event__item--worship"><a href='{{ "/events/worship" | relLangURL }}'>{{ i18n "eventTypeWorship" }}</a></li>
    <li class="event__item--missions"><a href='{{ "/events/missions" | relLangURL }}'>{{ i18n "eventTypeMissions" }}</a></li>
    <li class="event__item--wedding"><a href='{{ "/events/weddings" | relLangURL }}'>{{ i18n "eventTypeWedding" }}</a></li>
    <li class="event__item--funeral"><a href='{{ "/events/funerals" | relLangURL }}'>{{ i18n "eventTypeFuneral" }}</a></li>
    <li class="event__item--other"><a href='{{ "/events/other" | relLangURL }}'>{{ i18n "eventTypeOther" }}</a></li>
    <li class="event__item--new"><a href='{{ "/events/new" | relLangURL }}'>{{ i18n "eventTypeNew" }}</a></li>
  </ul>
</div>