<div class="event__menu">
  <h1>{{ i18n "menu" }}</h1>
  <ul>
    <li class="event__item--all"><div><a href='{{ "/events/" | relLangURL }}'>{{ i18n "eventTypeAll" }}</a></div></li>
    <li class="event__item--worship"><div><a href='{{ "/events/worship" | relLangURL }}'>{{ i18n "eventTypeWorship" }}</a></div></li>
    <li class="event__item--missions"><div><a href='{{ "/events/missions" | relLangURL }}'>{{ i18n "eventTypeMissions" }}</a></div></li>
    <li class="event__item--wedding"><div><a href='{{ "/events/weddings" | relLangURL }}'>{{ i18n "eventTypeWedding" }}</a></div></li>
    <li class="event__item--funeral"><div><a href='{{ "/events/funerals" | relLangURL }}'>{{ i18n "eventTypeFuneral" }}</a></div></li>
    <li class="event__item--other"><div><a href='{{ "/events/other" | relLangURL }}'>{{ i18n "eventTypeOther" }}</a></div></li>
    <li class="event__item--new"><div><a href='{{ "/events/new" | relLangURL }}'>{{ i18n "eventTypeNew" }}</a></div></li>
  </ul>
</div>