/* Custom Styles
---------------------------------------------*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  background: #fff;
  color: $grey-8;
}
.main-block {
  flex-grow: 1; // ensures that the footer sits at the bottom of the page regardless of content length
}
// structure
.content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header {
  
}

.short__text {
  &--title {
    padding-top: 2.2rem;
    font-size: 2rem;
  }
}





@mixin content--lg() {
  .content {
    max-width: $break-lg;
    margin-left: auto;
    margin-right: auto;
  }
}