/* Custom Styles
---------------------------------------------*/
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  background: #fff;
  color: $grey-8;
}
.main-block {
  flex-grow: 1; // footer sits at the bottom of the page regardless of content length
}

// structure
.content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
}
.content__list {

}
.content__item {

}
.header {
  
}
img {
  max-width: 100%;
  height: auto;
}

.close {
  border: none;
  background: transparent;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem
}
.screen-reader {
  display: none;
}

.alert {
  padding: 0.5rem;
  padding-right: 2rem;
  background-color: $blue-4;
  border-left: 0.5rem solid $blue-8;
  color: #fff;
  position: relative;
  display: none;
  margin-top: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue-6;
}


@mixin content--lg() {
  .alert {
    max-width: $break-lg;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    max-width: $break-lg;
    margin-left: auto;
    margin-right: auto;
  }
}