.contact__phone {
  margin-top: 1rem;
  a {
    font-size: 1.5rem;
  }
}
.contact__address {
  margin-top: 1rem;
}

@mixin contact--sm() {
  .contact {
    max-width: 600px;
  }
}
@mixin contact--md() {
  .contact {
    max-width: $break-lg;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 1rem;
  }
  .contact__phone {
    grid-area: a;
    margin-top: 0;
  }
  .contact__address {
    grid-area: b;
  }
  .contact__form {
    grid-area: c;
  }
}