.events__content {
  &--inner {
    margin-bottom: 2rem;
  }
  .content__list {
    padding-left: 0;
  }
}
.event__li {
  list-style: none;
  .title {
    span {
      font-size: 0.9em;
    }
  }
  a {
    text-decoration: none;
    div {
      transition: 0.3       s;
    }
    &:hover > div, &:focus > div {
      border-left: 0.5rem solid $blue-8;
      padding-left: 0.5rem;
    }
  }
}
.event__menu {
  ul {
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  li {
    background-color: $blue-6;
    padding: 0.5rem;
    height: 80px;
    background-size: cover;
    background-blend-mode: luminosity;
    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($blue-8, 0.7);
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .event__item {
    &--all {
      background-image: url(https://source.unsplash.com/ZMMXSRMSoI8/200x150);
    }
    &--worship {
      background-image: url(https://source.unsplash.com/rPOmLGwai2w/200x150);
    }
    &--missions {
      background-image: url(https://source.unsplash.com/iQWvVYMtv1k/200x150);
      div {
        background-color: rgba($blue-8, 0.7);
      }
    }
    &--wedding {
      background-image: url(https://source.unsplash.com/U4sdfvlWmwI/200x150);
    }
    &--funeral {
      background-image: url(https://source.unsplash.com/i4NqeIHNbTI/200x150);
      // nT4NaC8dgT8
    }
    &--other {
      background-image: url(https://source.unsplash.com/Hli3R6LKibo/200x150);
    }
    &--new {
      background-image: url(https://source.unsplash.com/g3O5ZtRk2E4/200x150);
    }
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
}
@mixin events--md() {
  .events__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 3rem;
    .event__menu {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .content__list {
      grid-column: 2 / 3;
    }
  }
  .event__menu {
    ul {
      grid-template-columns: 1fr 1fr;
    }
    $linkbg: $blue-6;
    li {
      padding: 0.5rem;
      height: 80px;
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(6),
      &:nth-of-type(7) {
        background-color: darken($linkbg, 5%);
      }
      &:nth-of-type(4) {
        background-color: lighten($linkbg, 5%);
      }
    }
  }
}
