.content__image {
  display: grid;
  grid-template-columns: auto;
  img {
    width: 100%;
    height: auto;
  }
}
.header__education {
  $bgcolor: $blue-9;
  width: 100%;
  height: auto;
  min-height: 300px;
  background-size: cover;
  background-image: 
    linear-gradient($bgcolor, $bgcolor),
    url("img/aaron-burden-169739-unsplash.jpg");
  background-blend-mode: saturation;
  background-position-y: 50%;
  padding: 2rem 1rem; 
  h1 > span, p > span {
    color: #fff;
    background: $blue-9;
  }
  h1 > span {
    font-size: 3rem;
  }
  p > span {
    font-size: 1rem;
  }
  .leaders {
    font-size: 0.8rem;
    opacity: 0.6;
  }
  margin-bottom: 2rem;
}
.education {
  $base: darken($blue-4, 5%);
  background-color: $base;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: #fff;
  blockquote {
    border-left: 3px solid darken($base, 30%);
    padding-left: 0.5rem;
  }
  .education__heading {
    font-size: 2rem;
    color: saturate(lighten($base, 20%), 20%);
    display: inline-block;
  }
  .education__motto {
    color: darken($base, 30%);
    display: inline-block;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.5rem;
    transform: rotate(-5deg);
  }
  .education__info {
    display: grid;
    grid-template-columns: auto;
    background-color: $blue-4;
    color: #fff;
    .h, .c {
      padding: 0.5rem;
      margin: 0;
    }
    .h {
      text-align: center;
      color: #fff;
    }
    .h1 {
      // background-color: $blue-8;
      background-color: darken($base, 30%);
    }
    .c1 {
      // background-color: $blue-5;
      background-color: darken($base, 10%);
    }
    .h2 {
      // background-color: $blue-6;
      background-color: saturate(darken($base, 20%), 5%);
    }
    .c2 {
      // background-color: $blue-4;
      background-color: saturate(lighten($base, 10%), 10%);
    }
  }
}


@mixin education--sm() {
  .content__image--grid2 {
    grid-template-columns: 1fr 1fr;
  }
  .education {
    padding: 1rem;
    padding-top: 1.5rem;
    .education__heading {
      font-size: 2.4rem;
    }
    .education__info {
      grid-template-areas: 
        "a b"
        "c d";
      grid-template-columns: 1fr 1fr;
      .h1 {
        grid-area: a;
      }
      .c1 {
        grid-area: c;
      }
      .h2 {
        grid-area: b;
      }
      .c2 {
        grid-area: d;
      }
    }
  }
}
@mixin education--md() {
  .content__image {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .education {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@mixin education--lg() {
  .header__education--inner {
    max-width: $break-lg;
    margin-left: auto;
    margin-right: auto;
  }
  .content__image {
    max-width: $break-lg;
    margin-left: auto;
    margin-right: auto;
  }
  .education {
    max-width: $break-lg - 200px;
    margin-left: auto;
    margin-right: auto;
  }
}