$pop-yellow: #ffc000;

$grey-2: #ccc;
$grey-4: #999;
$grey-6: #666;
$grey-8: #222;

$blue-1: hsl(214, 80%, 80%);
$blue-2: hsl(214, 64%, 64%);
$blue-4: hsl(214, 48%, 58%);
$blue-5: hsl(214, 44%, 38%);
$blue-6: hsl(214, 42%, 28%);
$blue-8: hsl(214, 40%, 20%);
$blue-9: hsl(210, 13%, 10%);


$ed: hsl(214, 48%, 60%); // education page base;

$basic-blue: $blue-2;
$dark-blue: $blue-8;

$break-sm: 760px;
$break-md: 1024px;
$break-lg: 1200px;

$font-sans-en: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-serif-en: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-cursive-en: 'Permanent Marker', 'Daniel', 'Courgette', cursive;
// font-family: 'Charm', cursive; // alternate english headline font
$font-sans-ko: "Nanum Gothic", "Namsan", sans-serif;
$font-serif-ko: "Nanum Myeongjo", serif;
$font-cursive-ko: FlowerRoad, "Nanum Brush Script", cursive;