{{ define "main" }}
  <header class="header header__education">
    <div class="header__education--inner">
      <h1><span>{{ .Params.title }}</span></h1>
      <p><span>{{ printf .Params.subtitle (string (sub now.Year 1982)) }}</span></p>
    </div>
  </header>

  <div class="content about">
    
    <div>
      <h2>{{ i18n "churchHistory" }}</h2>
      <ul class="about__history">
        {{ range .Params.history }}
          <li>
            <p>
              {{ .year }} :
            </p>
            <p>
              {{ .event }}
            </p>
          </li>
        {{ end }}
      </ul>
    </div>
    
    <div>

      <h2>{{ i18n "aboutLeadership" }}</h2>
      
      <div class="staff">
        {{ range .Params.leaders }}
        {{ partial "headshot" (dict "ctx" $ "id" .)}}
        {{ end }}
      </div>
      
    </div>

  </div>

{{ end }}
