{{ define "main" }}
  <header class="header header__education">
    <div class="header__education--inner">
      <h1><span>{{ .Params.title }}</span></h1>
      <p><span>{{ printf .Params.subtitle (string (sub now.Year 1982)) }}</span></p>
    </div>
  </header>

  <div class="content">
    
    <h2>Church Leadership</h2>

    <h3>Pastors</h3>
    <div class="staff">
      {{ range .Params.pastors }}
        {{ partial "headshot" (dict "ctx" $ "id" .)}}
      {{ end }}
    </div>

    <h3>Elders</h3>
    <div class="staff">
      {{ range .Params.elders }}
        {{ partial "headshot" (dict "ctx" $ "id" .)}}
      {{ end }}
    </div>

    {{ .Content }}

  </div>

{{ end }}
