{{ define "main" }}

<div class="content">
<h1>{{ .Params.title }}</h1>
<p>{{ .Params.explanation }}</p>

<form name="new_event" method="POST" netlify-honeypot="bots" data-netlify="true">
  <h2>Event Details</h2>
  <div class="event__registration">

    <!-- Date and Type -->
    <div class="date_and_type">
      <fieldset class="radio-group">
        <label for="type">Type of event</label>
        <select name="type" id="type">
          <option value="worship">worship</option>
          <option value="missions">missions</option>
          <option value="wedding">wedding</option>
          <option value="funeral">funeral</option>
          <option value="other">other</option>
        </select>
      </fieldset>
      <fieldset>  
        <label for="date">Date and Time</label>
        <input name="date" type="text" id="date" placeholder='{{ now.Format "2006-01-02" }}'>
      </fieldset>
    </div>
    
    <!-- Korean -->
    <div class="korean">
      <h4>Korean</h4>
      <fieldset>  
        <label for="title_ko" class="screen-reader">Title</label>
        <input name="title_ko" type="text" id="title_ko" placeholder="Brief description...">
      </fieldset>
      <fieldset>
        <label for="content_ko" class="screen-reader">Details</label>
        <textarea name="content_ko" rows="8" id="content_ko" placeholder="Details..." ></textarea>
      </fieldset>
    </div>
    
    <!-- English -->
    <div class="english">
      <h4>English</h4>
      <fieldset>  
        <label for="title_en" class="screen-reader">Title</label>
        <input name="title_en" type="text" id="title_en" placeholder="Brief description...">
      </fieldset>
      <fieldset>
        <label for="content_en" class="screen-reader">Details</label>
        <textarea name="content_en" rows="8" id="content_en" placeholder="Details..." ></textarea>
      </fieldset>
    </div>

    <!-- Contact Info -->
    <div class="contact_info">
      <h4>Contact Info</h4>
      <fieldset>  
        <label for="contact_name" class="screen-reader">Name</label>
        <input name="contact_name" type="text" id="contact_name" placeholder="Your name...">
      </fieldset>
      <fieldset>  
        <label for="contact_phone" class="screen-reader">Phone</label>
        <input name="contact_phone" type="text" id="contact_phone" placeholder="Your phone number...">
      </fieldset>
      <label for="contact_public">
        <input name="contact_public" type="checkbox" id="contact_public"> List me as the contact
      </label>

      <!-- Honeypot field to reduce spam -->
      <fieldset style="display:none;">
        <label>Don’t fill this out if you're human: <input name="bots" /></label>
      </fieldset>
  
      <!-- Submit -->
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>
</div>

{{ end }}




